body{
  /* background-color: #8EE4AF; */
   /* background-color: #EDF5E1;  */
   background-color: black;
  
}

.navbar-main-div{

    display: flex;
    justify-content: space-around;
    background-color: #5CDB95;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
 
  }

  .logo{
    text-decoration: none;
    color: #05386B;
  }

  
   .links
   {
    text-decoration: none;
    color: #EDF5E1;
   }
  

   /* --------------------- Search Bar & Input -------------------------------- */
   .search-bar{

      margin-top: 18px;
   }

   .input-saerch-bar{

        height: 25px;
        border-radius: 5px;
        border: none;

   }

/* ------------------------------------------  Side Bar Design -----------------------------------*/
   .side-bar-con{ 
    width: 200px; 
    height: 100vh;
    color:#EDF5E1;
    margin-left: 40px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 60px;
  
   }


   /* --------------------------- slider-image ---------------------------- */
   .slider-image{
  
      width: 1000px;
      height: 350px;
      background-color: aqua;
      position: absolute;
      top: 30%;
      left: 20%;
    
   }

   /*------------------------------ Menu  -----------------------------*/

 
   .menu-bar-con{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
     padding-bottom: 50px;
   }

   .menu-bar-single-con{
    background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
    height: 240px;

   }

   .image{

    margin-left: 30px;
    margin-right: 20px;
    margin-top: 20px;
    width:"80%";
     height:"40%" ;
     
   }

   .menu-bar-btn{

     border: none;
     border-radius: 5px;
     margin-top: 10px;
     position: relative;
     left: 30%;
     font-size: 16px;
    
   }
   .menu-bar-btn:hover{

    background-color: #5CDB95;
    color: #EDF5E1;
   }


