body{
  /* background-color: #8EE4AF; */
   background-color: #EDF5E1; 
}

.navbar-main-div{

    display: flex;
    justify-content: space-around;
    background-color: #5CDB95;
 
  }

  
   .links
   {
    text-decoration: none;
    color: #05386B;
   }
  
   .search-bar{

      margin-top: 25px;
   }

   .input-saerch-bar{

        height: 25px;
        border-radius: 5px;

   }